
@import 'mixins';


.aboutme {
   
    .titulo {
        @include flex (center,center);

             p {
                font-family: 'Roboto','sans serif';
                font-size: 1.5rem;
                font-weight: 400;
            }
    }
    
            .container-cards {
        @include flex (space-around,center);
                
                .card {
                    @include flex (center,center);
                    flex-direction: column;
                }
                
                
                img {
                    width: 150px;
                    height: 150px;
                }
             }   
}