
@import 'variables';


.banner {
    background-image: url('../img/laptop-wallpaper-1920x1080.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;


            h1 {
                display: flex;
                align-items: center;
                font-family: 'Roboto', sans-serif;
                color: $color-secundario;
                font-size: 50px;
                margin: 15px;
            }

            p {
                @extend h1;
                font-size: 25px;
            }
}