
.footer {
    background-color: $color-cuarto;
    height: 200px;
    @include flex(space-around,center);
    color: #fff;
}

.container-redes {
    width: 200px;

    .redes {
        @include flex(space-evenly,center);
        a {
            svg {
                width: 70%;
                height: 70%;
                color: $color-primario;
                &:hover {
                    color: #fff;
                }
            }
        }
        .icono {
            width: 100%;
            height: 100%;   
        }
    }
}