@import 'variables';

.container-nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: $color-primario;
    position: fixed;
    width: 100vw;
        .list {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
                    .items {
                        padding-left: 30px;
                        text-decoration: none;
                        color: white;
                            &:hover {
                                color: $color-terciario;
                            }
                    }                

        }
         
}