@import 'variables';
@import 'mixins';

.container-nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: $color-primario;
    position: fixed;
    width: 100vw;

        .container-icono {
            @include flex (center,center);

                .icono-header, a{
                    height: 90%;
                }
        }

        .list {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
                    .items {
                        padding-left: 30px;
                        text-decoration: none;
                        color: white;
                        transition: all 3s ease;
                            
                            &:hover {
                                color: $color-terciario;
                            }
                    }                

        }
         
        .menu-hamburguesa {
            display: none;
        }
}