@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'secciones/aboutme';
@import 'secciones/banner';
@import 'secciones/aboutme';
@import 'secciones/projects';
@import 'base/_mixins';
@import 'base/_variables';

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: $color-terciario;
    font-family: 'Roboto','sans serif';
}