@import '../base/mixins';
@import '../base/variables';

.container-projects {
    @include flex (space-evenly,space-evenly);
            .project {  
                @include flex (center,center);
                flex-direction: column;
                background-color: $color-primario;
                border-radius: 10%;
                img {
                    width: 300px;
                    height: 300px;
                }

            }
}

.titulo-projects {
    @include flex (center,center);
    margin-bottom: 30px;
    color: $color-secundario;
}